table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: auto;
    }
    
    td {
    border: 1px solid black;
    padding: 8px;
    }
    
    #code, #name, #continent, #region, #surfaceArea, #indepYear, #population, #lifeExpectancy, #gnp, #gnpOld, #localName, #governmentForm, #headOfState, #capital, #code2 {
    font-weight: bold;
    }
#container{
text-align: center;
}