.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  max-width: 500px;
  max-height: 700px;
  padding: 50px 20px;
  width: 100%;
  width: 400px;
  margin-left: 35%;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333; 
}
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f8f8;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color:#4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #444;
  }

  /* Style the form for smaller screens  */
    @media screen and (max-width: 600px) {
    form {
      margin-top: 20px;
    }
    
    label, input[type="text"], input[type="email"], input[type="number"] {
      max-width: 100%;
      font-size: 16px;
    }
    
    input[type="submit"] {
      font-size: 18px;
      padding: 8px 16px;
    }
    
    h1 {
      font-size: 28px;
    }
  }   


  
 
  
  
  
  
  